- we can't use skewness to every feature as if I give you an example let's say some product company like sunflower oil share their data set and there they are having some product where they have invested 20lakh in marketing and with some product 40 thousand,and this is imbalanced data set and if you use scaling or any other technique like skewness it may convert all 40 thousand to 20lakh or all 20lakh to 40 thousand ,but you think is doing scaling or using any other techniques will help out in this scenario or not.

- In **regression** it is common to transform the data set so to **eliminate skewness** in the residuals.


- If the data is **non-negative** then the **log or square root** transform are the default choices

- In a **normal distribution,** the **mean** divides the curve **symmetrically into two equal parts** at the median and the value of **skewness is zero.**


- When a distribution is **asymmetrical** the **tail** of the distribution is skewed to **one side-to the right or to the left.**


- When the value of the **skewness is negative,** the **tail** of the distribution is **longer towards the left** hand side of the curve.


- When the value of the **skewness is positive,** the **tail** of the distribution is **longer towards the right** hand side of the curve.

In [1]:
import pandas as pd

In [2]:
# skewness()  function in pandas:
dataVal = [(10,20,30,40,50,60,70),

           (10,10,40,40,50,60,70),

           (10,20,30,50,50,60,80)]

In [4]:
dataFrame = pd.DataFrame(data=dataVal);
dataFrame

    0   1   2   3   4   5   6
0  10  20  30  40  50  60  70
1  10  10  40  40  50  60  70
2  10  20  30  50  50  60  80

- **Skewness** is computed for **each row or each column** of the data present in the DataFrame object.

In [6]:
# Skewness computed for each column
skewValue = dataFrame.skew(axis=0)
skewValue

0    0.000000
1   -1.732051
2    1.732051
3    1.732051
4    0.000000
5    0.000000
6    1.732051
dtype: float64

In [5]:
# Skewness computed for each row
skewValue = dataFrame.skew(axis=1)
skewValue

0    0.000000
1   -0.340998
2    0.121467
dtype: float64

- A skewness value of **0** in the output denotes a **symmetrical distribution** of values in row 1.


- A **negative skewness** value in the output indicates an **asymmetry in the distribution** corresponding to row 2 and the **tail is larger towards the left** hand side of the distribution.


- A **positive skewness** value in the output indicates an **asymmetry in the distribution** corresponding to row 3 and the **tail is larger towards the right** hand side of the distribution.

------------

In [7]:
df = pd.read_csv("F:/03. Suresh/1. Material/05. Data Science/14. Jupyter/08. Data Sets/nba.csv")
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

 1. Use **skew() function** to find the skewness in data over the **index axis.**

In [8]:
# skewness along the index axis 
df.skew(axis = 0, skipna = True)

Number    1.668386
Age       0.626349
Weight    0.113788
Salary    1.576321
dtype: float64

In [9]:
df.skew()

Number    1.668386
Age       0.626349
Weight    0.113788
Salary    1.576321
dtype: float64

   2. Use **skew() function** to find the skewness of the data over the **column axis**

In [10]:
# skip the na values 
# find skewness in each row 
df.skew(axis = 1, skipna = True)

0      2.000000
1      2.000000
2      1.730362
3      2.000000
4      2.000000
         ...
453    2.000000
454    2.000000
455    2.000000
456    2.000000
457         NaN
Length: 458, dtype: float64