In [75]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [76]:
df = pd.DataFrame({"City" : ["Mumbai", "London", "NewYork","NewYork","NewYork", "London","Mumbai","NewYork","Mumbai","London"],
                   "Age" : [24,80,38,22,36,29,17,28,45,29],
                   "Sex" : ["Male", "Female", "Male", "Female", "Male", "Female", "Female", "Female", "Female","Male"],
                   "Smoke" : ["Yes", "No", "Yes", "Yes", "Yes", "Yes", "No", "No", "No", "Yes"],
                   "Happinessindex" : [241, 928, 750, 786, 967, 665, 293, 494, 707, 599],
                   "Healthy" : ["Yes", "No", "Yes", "Yes", "Yes", "Yes", "No", "Yes", "No", "No"]
                  })
df

      City  Age     Sex Smoke  Happinessindex Healthy
0   Mumbai   24    Male   Yes             241     Yes
1   London   80  Female    No             928      No
2  NewYork   38    Male   Yes             750     Yes
3  NewYork   22  Female   Yes             786     Yes
4  NewYork   36    Male   Yes             967     Yes
5   London   29  Female   Yes             665     Yes
6   Mumbai   17  Female    No             293      No
7  NewYork   28  Female    No             494     Yes
8   Mumbai   45  Female    No             707      No
9   London   29    Male   Yes             599      No

In [67]:
Scale_df = df[["Age","Happinessindex"]]
Scale_df

   Age  Happinessindex
0   24             241
1   80             928
2   38             750
3   22             786
4   36             967
5   29             665
6   17             293
7   28             494
8   45             707
9   29             599

In [89]:
x = Scale_df.iloc[:, :-1].values
y = Scale_df.iloc[:,1].values

In [90]:
x

array([[24],
       [80],
       [38],
       [22],
       [36],
       [29],
       [17],
       [28],
       [45],
       [29]], dtype=int64)

In [91]:
y

array([241, 928, 750, 786, 967, 665, 293, 494, 707, 599], dtype=int64)

In [94]:
sc = StandardScaler().fit_transform(x)
sc

C:\Users\deepusuresh\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\deepusuresh\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

array([[-0.63754827],
       [ 2.66825759],
       [ 0.18890319],
       [-0.75561277],
       [ 0.0708387 ],
       [-0.34238704],
       [-1.05077401],
       [-0.40141928],
       [ 0.60212892],
       [-0.34238704]])

-------

In [58]:
data = pd.DataFrame({"Age" : [24,80,38,22,36,29,17,28,45,29],
                     "Happinessindex" : [241, 928, 750, 786, 967, 665, 293, 494, 707, 599]
                  })
data

   Age  Happinessindex
0   24             241
1   80             928
2   38             750
3   22             786
4   36             967
5   29             665
6   17             293
7   28             494
8   45             707
9   29             599

In [59]:
X = data.iloc[:, :-1].values
Y = data.iloc[:, 1].values

In [61]:
SC = StandardScaler().fit(X)

C:\Users\deepusuresh\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [62]:
X_scaled = SC.transform(X)
X_scaled

C:\Users\deepusuresh\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

array([[-0.63754827],
       [ 2.66825759],
       [ 0.18890319],
       [-0.75561277],
       [ 0.0708387 ],
       [-0.34238704],
       [-1.05077401],
       [-0.40141928],
       [ 0.60212892],
       [-0.34238704]])

In [63]:
SC.mean_

array([34.8])

In [64]:
SC.scale_

array([16.93989374])