In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [2]:
train = pd.read_csv('train.csv')
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
train.shape

(614, 13)

In [4]:
train.drop('Loan_ID', axis=1, inplace=True)

In [5]:
train['Loan_Status'] = train['Loan_Status'].map({'Y':1, 'N':0})

In [6]:
train['Dependents'] = train['Dependents'].replace("+3",3)
train['Dependents'] = train['Dependents'].replace("+3",3)

In [8]:
# train data
    
      # Numeric Features
        
train['Credit_History'] = train['Credit_History'].fillna(train['Credit_History'].mean())              # float
train['LoanAmount'] = train['LoanAmount'].fillna(train['LoanAmount'].mean())
train['Loan_Amount_Term'] = train['Loan_Amount_Term'].fillna(train['Loan_Amount_Term'].mean())
    
      # Categorical Features
        
train['Gender'] = train['Gender'].fillna(train['Gender'].mode()[0])
train['Married'] = train['Married'].fillna(train['Married'].mode()[0])
train['Dependents'] = train['Dependents'].fillna(train['Dependents'].mode()[0])
train['Self_Employed'] = train['Self_Employed'].fillna(train['Self_Employed'].mode()[0])

# test data
    
      # Numeric Featurestrain
        
#test['Credit_History'] = test['Credit_History'].fillna(test['Credit_History'].mean())                # float
#test['LoanAmount'] = test['LoanAmount'].fillna(test['LoanAmount'].mean())
#test['Loan_Amount_Term'] = test['Loan_Amount_Term'].fillna(test['Loan_Amount_Term'].mean())
        
      # Categorical Features
        
#test['Gender'] = test['Gender'].fillna(test['Gender'].mode()[0])
#test['Dependents'] = test['Dependents'].fillna(test['Dependents'].mode()[0])
#test['Self_Employed'] = test['Self_Employed'].fillna(test['Self_Employed'].mode()[0])

In [10]:
df = pd.get_dummies(train, drop_first=True)
df.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,5849,0.0,146.412162,360.0,1.0,1,1,0,0,0,0,0,0,0,1
1,4583,1508.0,128.000000,360.0,1.0,0,1,1,1,0,0,0,0,0,0
2,3000,0.0,66.000000,360.0,1.0,1,1,1,0,0,0,0,1,0,1
3,2583,2358.0,120.000000,360.0,1.0,1,1,1,0,0,0,1,0,0,1
4,6000,0.0,141.000000,360.0,1.0,1,1,0,0,0,0,0,0,0,1

In [11]:
df.shape

(614, 15)

In [12]:
X = df.drop('Loan_Status', axis=1)
y = df.Loan_Status

In [13]:
from sklearn.model_selection import train_test_split

# split  data into training and testing sets of 80:20 ratio
# 20% of test size selected
# random_state is random seed
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=4)

In [18]:
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [19]:
y_pred_Reg = reg.predict(X_test)

In [20]:
print("Train Score {:.2f} & Test Score {:.2f}".format(reg.score(X_train, y_train), reg.score(X_test, y_test)))

Train Score 0.35 & Test Score 0.23

In [21]:
from sklearn.ensemble import VotingClassifier

model1 = LogisticRegression(random_state=1)
model2 = DecisionTreeClassifier(random_state=1)

model = VotingClassifier(estimators=[('lr', model1), ('dt', model2)], voting='hard')

model.fit(X_train, y_train)

C:\Users\deepusuresh\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

VotingClassifier(estimators=[('lr', LogisticRegression(random_state=1)),
                             ('dt', DecisionTreeClassifier(random_state=1))])

In [23]:
model.score(X_test, y_test)

0.7560975609756098